/*
    RESET
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif ;
}

/*
    GENERAL
*/
.container {
    max-width: 1000px;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;  
}

.right{
    display: flex;
    justify-content: flex-end;
}

/*
    HEADER
*/

header {
    
}

.container-header {
    display: flex;
}

.my-col-1-2-header {
    display: flex;
    align-items: center;
    width: calc(100% / 2);
}

.my-col-1-2-header ul{
    display: flex;
    width: 100%;
}

.my-col-1-2-header a{
    color: black;
    opacity: .9;
}

.my-col-1-2-header a,
.my-col-1-2-header > ul > li > a {
    padding: 30px 20px;
}

.my-col-1-2-header > * {

}

/*
    MAIN
*/

/*
    FOOTER
*/